.Header-main {
    width: 100wh;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 1.5em;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    border-color: var(--background-contrast);
    padding-left: 10px;
    padding-right: 10px;
}

.Header-link {
    text-decoration: none;
    color: var(--highlight-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.Header-link:hover {
    text-decoration: underline;
}